<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->

</head>
<body>

<div class="container">

    <div class="row" style="">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/login}" method="post">
                <fieldset>
                    <div class="login-wrap">
                        <div class="login-html">
                            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                            <div class="login-form">
                                <div class="sign-in-htm">

                                    <div class="group">
                                        <label style="color:black" class="label form-control input-lg " style="color:black">Username</label>
                                        <input style="color:black" id="username"  name="username" type="text" class="input form-control input-lg"
                                               placeholder="UserName" required="true" autofocus="true">
                                    </div>
                                    <div class="group">
                                        <label  class="label" style="color:black">Password</label>
                                        <input id="password"  name="password"  type="password" class="input form-control input-lg"
                                               data-type="password" placeholder="Password" required="true">
                                    </div>
                                    <div class="group">
                                        <input id="check" type="checkbox" class="check" checked>
                                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                                    </div>
                                    <div class="group">
                                        <button class="btn btn-primary button" type="submit" style="font-size: 16px; color: black">Sign In</button>
                                    </div>
                                    <div class="group">
                                        <a class="btn btn-success button" th:href="@{'/register'}" role="button"style="text-align: center;font-size: 16px; background-color: #12cfd4 ">Register</a>
                                    </div>
                                    <div class="hr"></div>
                                    <div class="foot-lnk">
                                        <a th:href="@{'/forgot'}" style="color: orangered; font-size:24px">Forgot Password?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>